<nav style="background: #f6a413">
  <div class="side-navbar">
    <div style="text-align: center"><a class="brand-logo" style="font-size: 1.2rem !important;">Naguara de Arepas</a></div>
    <a data-activates="mobile-demo" class="button-collapse">
        <i class="fa fa-bars fa-2x" ></i>
    </a>
    <a class="right" style="padding-right: 15px">
        <i class="fa fa-cart-arrow-down fa-2x" *ngIf="pedido"></i>
    </a>

    <ul class="side-nav" id="mobile-demo" style="background: #062036; color:white">
      <br/>
      <li class="">
        <a>
            <div class="row">                   
                <div class="col s12" style="vertical-align: central;color:white" [routerLink]="['usuario']"><i class="fa fa-user"></i> Tu Usuario</div>
            </div>
        </a>
      </li>
    </ul>
  </div>
</nav>